<div class="row">
    <div class="container">
        <form action="/images/find" method="POST" enctype="multipart/form-data">
        <div class="col-md-2">
            <label for="start">Start date:</label>
            <input type="date" id="start" name="date" value="{{date}}">
        </div>
        <div class="col-md-2">
            <label for="Date">Date</label>
            <input type="radio" id="Date" name="option" value="Date">
            <input type="radio" id="Name" name="option" value="Name">
            <label for="Name">Name</label>

        </div>
        <div class="col-md-2">
            Name :<input type="text" name="title" class="form-control" placeholder="Image Title" value="{{title}}">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary btn-block" type="submit">
                Search
            </button>
        </div>


            
        </form>
    </div>
    
    
</div>
</div>
<div class="row">
    {{#each images}}
     <div class="col-md-4">
         <div class="card">
             <div class="card-body">
                 <h4 class="card-title">
                     {{title}}
                 </h4>
                 <img src="{{imageUrl}}" class="img-fluid" alt="Girl in a jacket" width="100%" height="200">
                 <h5>{{description}}</h5>
                 <h5>date : {{date}}</h5>

             </div>
         </div>
     </div>
    {{/each}}
</div>

<script>
    
    
</script>